# fish universal variables are managed by fish itself, had these version controlled before but should be ignored
fish/.config/fish/fish_variables

# device-specific configs
fish/.config/fish/config_local.fish
